{% extends "forum/base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/forum/css/questions_page.css"/>
    <link type="text/css" rel="stylesheet" href="/static/forum/css/index.css"/>
{% endblock %}

{% block content %}
    <div id="mainBox" class="row">
        <div id="mainSpace">
        </div>
        {% if render_state.selected_item == 1 %}
            <div id="mainTopic">
                <select id="course_select" class="qTopico perguntaInput marginInput clickable hide-arrow" required>
                    {% for course in courses %}
                        <option value="{{course.id}}" {% if render_state.filtering_state.topic == course.name %}selected{% endif %}>{{ course.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="mainSubTopic">
                <select id="subject_select" class="qSubtopico perguntaInput marginInput clickable hide-arrow" required>
                    <option value="" {% if not render_state.filtering_state.subtopic %}selected{% endif %} disabled>Todos as disciplinas</option>
                    {% for subject in subjects %}
                        <option value="{{subject.id}}" {% if render_state.filtering_state.subtopic == subject.name %}selected{% endif %}>{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <main {% if render_state.selected_item == 1 %}style="margin-top: 25px;"{% endif %}>
            <div id="fazerPergunta">
                <h3>Fazer uma pergunta</h3>
                <img alt="fazer pergunta" id="abrirPergunta" src="/static/forum/images/more.png"/>
                <div id="inputBox">
                    <form method="POST" action="/create_question/">
                        {% csrf_token %}
                        <input type="text" class="perguntaInput" name="title" placeholder="Pergunta*" required>
                        <textarea class="perguntaInput bigInput" name="description" placeholder="Descrição"></textarea>
                        <select name="topic" class="perguntaInput marginInput" required>
                            <option value="" selected disabled hidden>Selecionar Tópico*</option>
                            {% for topic in topics %}
                                <option value="{{topic.id}}|{{topic.type}}">{{topic.description}}</option>
                            {% endfor %}
                        </select>
                        <input id="submit" type="submit" name="perguntar" value="Perguntar">
                    </form>
                </div>
            </div>
            {% for question in questions %}
            <div class="questionBox">
                <a href="/pergunta/{{ question.id }}/"><h3 class="qTitulo">{{ question.title }}</h3></a>
                <p class="qDescricao">{{ question.description }}</p>
                <p class="qData">{{ question.date_for_display }}</p>
                {% if render_state.selected_item != 1 %}
                    <p class="qTopico">{{ question.topic }}</p><br>
                {% endif %}
                {% if question.subtopic and not render_state.filtering_state.subtopic %}
                    <p class="qSubtopico">{{ question.subtopic }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/forum/js/perguntar.js"></script>
    <script>
        $("#course_select").on('change',function(){
            location.href = "/1/" + this.value + "/";
        });

        $("#subject_select").on('change',function(){
            location.href = "/1/" + $("#course_select").val() + "/" + this.value + "/";
        });
    </script>
{% endblock %}