{% extends "forum/base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/forum/css/questions_page.css"/>
    <link type="text/css" rel="stylesheet" href="/static/forum/css/index.css"/>
{% endblock %}

{% block content %}
    <div id="mainBox" class="row">
        <div id="mainSpace">
        </div>
        <main>
            {% if render_state.selected_item == 1 %}
                <div>
                    <p class="qTopico">{{render_state.filtering_state.topic}}</p><br>
                </div>
            {% endif %}
            <div id="fazerPergunta">
                <h3>Fazer uma pergunta</h3>
                <img alt="fazer pergunta" id="abrirPergunta" src="/static/forum/images/more.png"/>
                <div id="inputBox">
                    <form method="POST" action="/create_question/">
                        {% csrf_token %}
                        <input type="text" class="perguntaInput" name="title" placeholder="Pergunta*" required>
                        <input type="text" class="perguntaInput bigInput" name="description" placeholder="Descrição">
                        <select name="topic" class="perguntaInput marginInput" required>
                            <option value="" selected disabled hidden>Selecionar Tópico*</option>
                            {% for topic in topics %}
                                <option value="{{topic.id}}|{{topic.type}}">{{topic.description}}</option>
                            {% endfor %}
                        </select>
                        <input id="submit" type="submit" name="perguntar" value="Perguntar">
                    </form>
                </div>
            </div>
            {% for question in questions %}
            <div class="questionBox">
                <h3 class="qTitulo">{{ question.title }}</h3>
                <p class="qDescricao">{{ question.description }}</p>
                <p class="qData">{{ question.date_for_display }}</p>
                {% if render_state.selected_item != 1 %}
                    <p class="qTopico">{{ question.topic }}</p><br>
                {% endif %}
                {% if question.subtopic %}
                    <p class="qSubtopico">{{ question.subtopic }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/forum/js/perguntar.js"></script>
{% endblock %}