{% extends "forum/base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/forum/css/questions_page.css"/>
    <link type="text/css" rel="stylesheet" href="/static/forum/css/my_questions.css"/>
{% endblock %}

{% block left_menu %}
{% endblock %}

{% block content %}
    <div id="mainBox" class="row">
        <div id="mainSpace">
        </div>
        <main>
            {% for question in questions %}
            <div class="questionBox">
                <a href="/pergunta/{{ question.id }}/"><h3 class="qTitulo">{{ question.title }}</h3></a>
                <p class="qDescricao">{{ question.description }}</p>
                <p class="qData">{{ question.date_for_display }}</p>
                <a href="/delete_question/{{ question.id }}/"><img alt="eliminar" class="lixo" src="/static/forum/images/trash.svg"/></a>
                <p class="qTopico">{{ question.topic }}</p><br>
                {% if question.subtopic %}
                    <p class="qSubtopico">{{ question.subtopic }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/forum/js/perguntar.js"></script>
{% endblock %}