{% extends "forum/base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/forum/css/my_answers.css"/>
{% endblock %}

{% block left_menu %}
{% endblock %}

{% block content %}
    <div id="mainBox" class="row">
        <div id="mainSpace">
        </div>
        <main>
            <section id="confirm">
                <div id="confirmBox">
                    <p>De certeza que queres eliminar?</p>
                    <div id="options">
                        <div id="optionsBox">
                            <div id="yes_button" class="option">SIM</div>
                            <div id="no_button" class="option">NÃO</div>
                        </div>
                    </div>
                </div>
            </section>
            {% for answer in answers %}
            <div class="answerBox">
                <a href="/pergunta/{{ answer.question_id }}/"><h3 class="qTitulo">{{ answer.title }}</h3></a>
                <p class="aDescricao">{{ answer.description }}</p>
                <p class="aData">{{ answer.created_at }}</p>
                <img id="delete_{{ answer.id }}" alt="eliminar" class="lixo" src="/static/forum/images/trash.svg"/>
                <div class="votes">
                    <a href="/{% if answer.author_in_positive_votes %}cancelvote{% else %}upvote{% endif %}/{{ answer.id }}/"><img alt="votar positivamente" class="vote_button" src="/static/forum/images/up.svg"/></a>
                    <p class="value">{{ answer.positive_votes }}</p>
                    <a href="/{% if answer.author_in_negative_votes %}cancelvote{% else %}downvote{% endif %}/{{ answer.id }}/"><img alt="votar negativamente" class="vote_button" src="/static/forum/images/down.svg"/></a>
                    <p class="value">{{ answer.negative_votes }}</p>
                </div>
            </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/forum/js/eliminar_resposta.js"></script>
{% endblock %}