{% extends "forum/base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/forum/css/single_question_page.css"/>
{% endblock %}

{% block content %}
    <div id="mainBox" class="row">
        <div id="mainSpace">
        </div>
        <main>
            <div class="questionBox">
                <h3 class="qTitulo">{{ question.title }}</h3>
                <p class="qDescricao">{{ question.description }}</p>
                <p class="qData">{{ question.date_for_display }}</p>
                <p class="qAutor">{{ question.author }}</p>
                {% if render_state.selected_item != 1 %}
                    <p class="qTopico">{{ question.topic }}</p><br>
                {% endif %}
                {% if question.subtopic %}
                    <p class="qSubtopico">{{ question.subtopic }}</p>
                {% endif %}
            </div>
            <div id="fazerPergunta">
                <h3>Escrever resposta</h3>
                <img alt="fazer pergunta" id="abrirPergunta" src="/static/forum/images/more.png"/>
                <div id="inputBox">
                    <form method="POST" action="/answer_question/">
                        {% csrf_token %}
                        <input type="number" name="question_id" value="{{ question.id }}" hidden="true">
                        <textarea class="perguntaInput bigInput" name="description" placeholder="Resposta*"></textarea>
                        <input id="submit" type="submit" name="responder" value="Responder">
                    </form>
                </div>
            </div>
            {% for answer in answers %}
                <div class="answerBox">
                    <p class="aDescricao">{{ answer.description }}</p>
                    <p class="aData">{{ answer.created_at }}</p>
                    <p class="aAutor">{{ answer.author }}</p>
                    <div class="votes">
                        <a href="/{% if answer.author_in_positive_votes %}cancelvote{% else %}upvote{% endif %}/{{ answer.id }}/"><img alt="votar positivamente" class="vote_button" src="/static/forum/images/up.svg"/></a>
                        <p class="value">{{ answer.positive_votes }}</p>
                        <a href="/{% if answer.author_in_negative_votes %}cancelvote{% else %}downvote{% endif %}/{{ answer.id }}/"><img alt="votar negativamente" class="vote_button" src="/static/forum/images/down.svg"/></a>
                        <p class="value">{{ answer.negative_votes }}</p>
                    </div>
                </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/forum/js/responder.js"></script>
{% endblock %}