{% extends "forum/base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/forum/css/single_question_page.css"/>
{% endblock %}

{% block content %}
    <div id="mainBox" class="row">
        <div id="mainSpace">
        </div>
        <main>
            <div class="questionBox">
                <h3 class="qTitulo">{{ question.title }}</h3>
                <p class="qDescricao">{{ question.description }}</p>
                <p class="qData">{{ question.date_for_display }}</p>
                <p class="qAutor">{{ question.author }}</p>
                {% if render_state.selected_item != 1 %}
                    <p class="qTopico">{{ question.topic }}</p><br>
                {% endif %}
                {% if question.subtopic %}
                    <p class="qSubtopico">{{ question.subtopic }}</p>
                {% endif %}
            </div>
            <div id="fazerPergunta">
                <h3>Escrever resposta</h3>
                <img alt="fazer pergunta" id="abrirPergunta" src="/static/forum/images/more.png"/>
                <div id="inputBox">
                    <form>
                        <textarea class="perguntaInput bigInput" name="resposta" placeholder="Resposta*"></textarea>
                        <input id="submit" type="submit" name="responder" value="Responder">
                    </form>
                </div>
            </div>
            <div class="answerBox">
                <p class="aDescricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
                    porta lacus. Suspendisse imperdiet gravida nunc vel vestibulum. Morbi id urna eleifend,
                    viverra sem ac, tempor ante. Etiam at risus posuere, porta justo quis, venenatis dolor.
                    Proin quam nibh, sodales sed sapien sit amet, condimentum dapibus eros. Praesent eu nulla tristique,
                    tincidunt dui eget, lacinia purus. Pellentesque eu laoreet ex. </p>
                <p class="aData">26 NOVEMBRO</p>
                <p class="aAutor">Margarida Margarido</p>
                <div class="votes">
                    <img alt="votar positivamente" class="vote_button" src="/static/forum/images/up.svg"/>
                    <p class="value">12</p>
                    <img alt="votar negativamente" class="vote_button" src="/static/forum/images/down.svg"/>
                    <p class="value">3</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/forum/js/responder.js"></script>
{% endblock %}